{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <!-- Global Styles -->
    <link rel="stylesheet" href="/static/css/client.css">
    <link rel="stylesheet" href="/static/css/developer.css">
</head>

<body>

    {{ template "content" . }}

    <!-- View & Interactive Scripts -->
    <script src="/static/js/main.js" defer></script>
</body>
</html>
{{ end }}